* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
h1, h2, p {
	margin: 0;
	padding: 0;
}
h1, h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
menu, menu ul, menu li {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}
img.responsive {
	width: 100%;
	height: auto;
}
.video-responsive {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.video-responsive iframe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.container{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.row:after, .row:before{
	content: '';
	display: table;
}
.row:after {
	clear: both;
}
.col{
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 992px) {
	.col {
		width: 33%;
		float: left;
	}
}
.row-flex {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}
.col-flex {
	padding-left: 15px;
	padding-right: 15px;
}
.col-flex.col-1{
	flex: 1;
}
.col-flex.col-2{
	flex: 2;
}
.col-flex.col-3{
	flex: 3;
}
.col-flex.order-1{
	order: 2;
}
.col-flex.order-2{
	order: 3;
}
.col-flex.order-3{
	order: 1;
}